*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color-scheme: dark;
    font-family: system-ui;
}
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.current {
    height: 700px;
    aspect-ratio: 1/1;
}
.carousel {
    height: 100%;
    width: 100%;
    position: relative;
}
.carousel > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
}
.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide[data-active] {
    opacity: 1;
}

.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    padding: 2rem;
    cursor: pointer;
}

.carousel-button:hover,
.carousel-button:focus {
    background-color: rgba(0, 0, 0, 0.8);
    scale: 1.02;
}

.carousel-button:focus {
    outline: 1px solid Canvas;
}

.carousel-button.previous {
    left: 1rem;
}
.carousel-button.next {
    right: 1rem;
}
